apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ backend_deployment }}
  namespace: teg
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{ backend_deployment }}
      tier: backend
  revisionHistoryLimit: 10
  template:
    metadata:
      labels:
        name: {{ backend_deployment }}
        tier: backend
    spec:
      containers:
      - command:
        - /usr/bin/java
        - -jar
        - {{ backend_jar_name }}
        env:
        - name: HOME
          value: {{ home }}
        image: docker-registry.tools.wmflabs.org/toollabs-jdk8-base:latest
        name: backend
        ports:
        - containerPort: 4223
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: "2"
            memory: 4Gi
          requests:
            cpu: 125m
            memory: 4Gi
        volumeMounts:
        - mountPath: /data/project/
          name: home
        workingDir: {{ backend_dest }}
      volumes:
      - hostPath:
          path: /data/project/
        name: home
---
apiVersion: v1
kind: Service
metadata:
  name: {{ backend_deployment }}
spec:
  selector:
    name: {{ backend_deployment }}
    tier: backend
  ports:
  - protocol: TCP
    port: 4223
    targetPort: http
